.landing__angel {
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 86px 147px;
    background-color: $black02;

    .angel-content {

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h2 {
                font-size: 56px;
                background: var(--primary-linear, linear-gradient(171deg, #FBFBFB 6.58%, #B3B3B3 187.51%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: "GeneralSans-Semibold";

                span {
                    font-family: "GeneralSans-Semibold";
                    background: $yellow01;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            .swiper-buttons {
                display: flex;
                gap: 12px;

                div {
                    cursor: pointer;

                    img {
                        width: 50px;
                    }
                }
            }
        }

        .content {
            margin-top: 90px;
        }

    }
}
.swiper {
    overflow: visible !important;
}