.angel-card {
    border-radius: 10px;
    border: 1px solid rgba(255, 215, 0, 0.40);
    background: linear-gradient(127deg, rgba(61, 61, 61, 0.35) 0%, rgba(74, 74, 74, 0.35) 20.31%, rgba(43, 43, 43, 0.35) 43.75%, rgba(255, 215, 0, 0.20) 100%);
    padding: 14px 28px 32px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 325px;
    height: 450px;

    h2 {
        color: $white02;
        font-size: 40px;
        font-family: "GeneralSans-Medium";
    }

    img {
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
    }

    p {
        color: $white02;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        flex-grow: 1;
    }
}


.swiper-slide {
    width: 325px !important;
}