.tarif-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #232222;
    background: rgba(9, 9, 9, 0.50);
    backdrop-filter: blur(10px);
    height: 500px;
    padding: 25px 23px 31px;
    transition: all 0.3s;
    &:hover {
        border: 1px solid #3D3C3C;
        background: linear-gradient(127deg, rgba(61, 61, 61, 0.35) 0%, rgba(74, 74, 74, 0.35) 20.31%, rgba(43, 43, 43, 0.35) 43.75%, rgba(14, 14, 14, 0.35) 65.63%);
    }

    .details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: 22px;

        .details-one { 
            height: 129px;       
            h2 {
                color: #fff;
                font-family: "GeneralSans-Medium";
            }

            p {
                margin-top: 18px;
                color: $white01;
            }
        }
        hr {
            margin: 0;
            border: 1px solid $white01;
        }
        .price {

            h3 {
                color: $white02;
                font-family: "GeneralSans-Medium";
                font-size: 54px;
                span {
                    font-family: "GeneralSans-Medium";
                    font-size: 24px;
                }
            }
            p {
                margin-top: 18px;
                color: $white01;
            }

        }
    }

    .btn {
        border-radius: 10px;
        border: 1px solid #FEFEFE;
        width: 100%;
        padding: 14px 32px;
        color: #fff;
        font-size: 16px !important;
        font-family: "GeneralSans-Semibold";
        &:hover {
            background-color: $white02;
            color: $black01;
        }
    }
}

#pro {
    border: 1px solid #3D3C3C;
    background: linear-gradient(127deg, rgba(61, 61, 61, 0.35) 0%, rgba(74, 74, 74, 0.35) 20.31%, rgba(43, 43, 43, 0.35) 43.75%, rgba(14, 14, 14, 0.35) 65.63%);

    .btn {
        font-family: "GeneralSans-Semibold";
        background-color: $white02;
        color: $black01;
        &:hover {
            background-color: $yellow01;
            color: $black01;
        }
    }
}

#premium {
    h2 {
        color: $yellow01;
    }
    .btn {
        font-family: "GeneralSans-Semibold";
        &:hover {
            background-color: $yellow01;
            color: $black01;
        }
    }
}